////////////////////////
// Ad blocks
////////////////////////





#block-dfp-mc-160x600-wideskyscraper {
  margin-bottom: 2em;
}


#block-dfp-mc-300x250-1,
#block-dfp-mc-300x250-2,
#block-dfp-mc-300x250-3,
#block-dfp-mc-300x250-4,
#block-dfp-mc-300x250-5,
#block-dfp-mc-300x250-6,
#block-dfp-mc-300x250-7,
#block-dfp-mc-300x250-8 {
  margin: 0 auto 2em auto;
  text-align: center;
}


#block-dfp-mc-300x600 {
  margin: 0 auto 2em auto;
  text-align: center;
}



#block-dfp-mc-300x250-mobile {
  margin: 0 auto 0 auto;
  text-align: center;
}


.lazyadslot-mc_300x250_3_0,
.lazyadslot-mc_300x250_4_0,
.lazyadslot-mc_300x250_5_0,
.lazyadslot-mc_300x600_0,
 {
  margin: 0 auto 2em auto;
  text-align: center;
}





/*
*/



#block-dfp-mc-728x90-fixed {
    display:none;
    @include breakpoint($tab) {
    background-color: #e7e7e7;
    bottom: 0;
    box-shadow: 0 -4px 4px rgba(0, 0, 0, .06);
    height: 110px;
    margin-bottom: 0;
    padding-top: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000100;
    display: block;
    }
    @include breakpoint($desk) {
        width: calc(#{$desk} - 30px);
    }
  }




#block-dfp-mc-banner-728x90-logo-side {
  display: none;
 @include breakpoint($narrowdesk) {
  display: block;
  float: right;
  background-color: white;
  padding-top: 100px;
  height: 203px;
  overflow: hidden;
  }
}




#block-dfp-mc-topbanner-728x90-1 {
  padding-top: 48px;
  text-align:center;
  @include breakpoint($smalltab) {
  padding: 16px 0 16px 0;
  }
  @include breakpoint($tab) {
  padding: 16px 0 16px 0;
  margin: 0 auto 0 auto;
}
  @include breakpoint($desk) {
  @include grid-span (8, 1, 12);
  text-align:left;
  padding-top:16px;
  margin-bottom: 0.5em;
}
}



#dfp-ad-mc_banner_728x90_foot {
  text-align:center;
  @include breakpoint($smalltab) {
  padding: 16px 0 16px 0;
  }
  @include breakpoint($tab) {
  margin: 0 auto 0 auto;
}
  @include breakpoint($desk) {
}
}









#block-dfp-mc-468x60-content-middle-1 {
  text-align: center;
  margin: 1rem auto 1rem auto;
}

#block-dfp-mc-468x60-content-middle-2 {
  text-align: center;
  margin: 1rem auto 1rem auto;
}

#block-dfp-mc-468x60-content-middle-3 {
  text-align: center;
  margin: 1rem auto 1rem auto;
}


/*  Colorbox overlay for interstitial */

#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000200;
  overflow: hidden;
}
