////////////////////////
// Ad blocks
////////////////////////





#block-dfp-mc-160x600-wideskyscraper {
  margin-bottom: 2em;
}


#block-dfp-mc-300x250-1,
#block-dfp-mc-300x250-2,
#block-dfp-mc-300x250-3,
#block-dfp-mc-300x250-4,
#block-dfp-mc-300x250-5,
#block-dfp-mc-300x250-6,
#block-dfp-mc-300x250-7,
#block-dfp-mc-300x250-8 {
  margin-bottom: 2em;
}




#block-dfp-mc-728x90-fixed {
/*
    display:none;
*/
    background-color: #e7e7e7;
    bottom: 0;
    -moz-box-shadow: 0 -4px 4px rgba(0, 0, 0, .06);
    -webkit-box-shadow: 0 -4px 4px rgba(0, 0, 0, .06);
    box-shadow: 0 -4px 4px rgba(0, 0, 0, .06);
    height: 110px;
    margin-bottom: 0;
    padding-top: 10px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1000100;
    display: block;

    @include breakpoint($tab) {
    }

    @include breakpoint($narrowdesk) {
    }

    @include breakpoint($desk) {
        width: calc(#{$desk} - 30px);
    }
  }





/*
.block-dfp-mc-728x90-fixed {
  background-color:#ffffff;
  position: fixed;
  bottom:0;
  height:110px;
  padding-top:10px;
  text-align:center;
  border-top: solid 1px #656565;
  -webkit-box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.06);
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.06);
  width:960px;
  margin-bottom:0;
  z-index: 1100000;
}
*/

/*
@media (max-width: 768px) {
#block-dfp-mc-728x90-fixed {
    display: none;
  }
}
*/






#block-dfp-mc-topbanner-728x90-1 {
  text-align:center;
  padding-top:48px;
  @include breakpoint($tab) {
  padding-top:0;
  margin: 0 auto 1em auto;
}
}


.block-mostpopular {
  margin-bottom: 2em;
}




/*

@media (max-width: 468px) {
#block-dfp-mc-468x60-content-middle-1 {
    display: none;
  }
}

@media (max-width: 468px) {
#block-dfp-mc-468x60-content-middle-2 {
    display: none;
  }
}

@media (max-width: 468px) {
#block-dfp-mc-468x60-content-middle-3 {
    display: none;
  }
}
*/



#block-dfp-mc-468x60-content-middle-1 {
  text-align: center;
  margin: 2rem auto 0 auto;
}

#block-dfp-mc-468x60-content-middle-2 {
  text-align: center;
  margin: 2rem auto 0 auto;
}

#block-dfp-mc-468x60-content-middle-3 {
  text-align: center;
  margin: 2rem auto 0 auto;
}


