

.block-mostpopular {
  margin-bottom: 2em;
 @include breakpoint($narrowdesk) {
  max-width: 300px;
}
}



#prefooter .block-social-media-links {
  @include grid-span (2, 1);
  @include breakpoint($tab) {
  @include float-span (1, 2);
  }
  @include breakpoint($desk) {
  @include grid-span (4, 13);
  }
}

.block-social-media-links a {
  font-family: $sanseriffont;
  font-size: .82rem;
  line-height: 1.4;
  color: white;
}


/* STAFF CONTACTS */


#prefooter .block-staff-contacts {
  margin-bottom: 2em;
  @include clearfix;
  @include grid-span (2, 1);
  @include breakpoint($tab) {
  @include grid-span (1, 2);
  }
  @include breakpoint($desk) {
  @include grid-span (6, 7);
  }
}

.block-staff-contacts p {
  padding-left: 0;
  margin-left: 0;
  font-family: $sanseriffont;
  font-size: .82rem;
  line-height: 1.4;
  padding-top: .4rem;
  color: white;
}


#prefooter .block-staff-contacts a {
  padding-top: .2rem;
  font-family: $sanseriffont;
  font-weight: 400;
  font-size: .82rem;
  line-height: 1.4;
  color: white;
}


/* USEFUL LINKS */


#prefooter #block-menu-secondary-menu {
  @include clearfix;
  @include grid-span (2, 1);
  @include breakpoint($tab) {
  @include grid-span (1, 1);
  }
  @include breakpoint($desk) {
    @include grid-span (6, 1);
    }
}



#block-menu-secondary-menu li a {
  font-family: $sanseriffont;
  font-size: .82rem;
  color: white;
  line-height: 1.4;
}



.block-latest-issue {
  margin-top: 0;
}


.block-user h2 {
  margin-top: 2em;
}




/*
.block-menu {
  margin-top: 2em;
}

*/






/*
.field-name-field-full-width-hero-image {

  @include breakpoint($tab) {
    margin-left: 0;
  }
  @include breakpoint($desk) {
    margin-left: $leftrailmargin;
  }
}
*/

/*
.responsive-menus-0-0.responsified:before {
  content: 'MANAGED CARE';
  float: left;
  color: white;
  padding: 10px 0 0 10px;
  font-family: $sanseriffont;
}
*/




/*
.responsive-menus.responsified span.toggler {
  padding: 10px 10px 1px 10px;
  display: block;
  background: $managedcarered;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  font-size: 15px;
  text-align: right;
  cursor: pointer;
  height: 38px;
  outline: none;
  font-family: $sanseriffont;
}
*/


.responsive-menus.responsified span.toggler {
  display: block;
  background: $managedcarered;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  font-size: 15px;
  position: fixed;
  left: 16px;
  top: 9px;
  cursor: pointer;
  height: 28px;
  outline: none;
  font-family: $sanseriffont;
}
/*
*/





.responsive-menus.responsified .responsive-menus-simple li a {
  color: #fff;
  display: block;
  padding: 1em 5%;
  margin: 0;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #bbb;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  text-decoration: none;
  text-transform: none;
  font-family: $sanseriffont;
  box-shadow: none;
}




/*
Read next -- recent popular stories

*/


#block-views-recent-popular-block-1 {
   padding: 16px;
   background-color: #efefef;
}


#block-views-recent-popular-block-1 h2 {
  font-size: 21px;
  font-weight: 700;
  font-family: $sanseriffont;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: $warmgray;
  margin-bottom: 16px;
  padding-left: 0;
  margin-top: 0;
}



#block-views-recent-popular-block-1 .views-row {
  padding: 16px 0 16px 0;
  border-top: solid 2px white;
}






#block-views-recent-popular-block-1 .ds-2col-fluid > .group-left {
  float: none;
  @include breakpoint($smalltab) {
  float: left; /* LTR */
  width: 160px;
  padding-right: 16px;
  position: relative;
  }
}

#block-views-recent-popular-block-1 .ds-2col-fluid > .group-right {
  float: none;
  width: 100%;
  @include breakpoint($smalltab) {
  float: right; /* LTR */
  width: calc(100% - 160px);
  }
}

#block-views-recent-popular-block-1
.ds-2col-fluid.group-one-column > .group-left,
#block-views-recent-popular-block-1 .ds-2col-fluid.group-one-column > .group-right {
  width: 100%;
  float: none;
}











#block-views-recent-popular-block-1 .field-name-title  {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  font-family: $seriffont;
  padding-top: 0;
  line-height: 1.3;
 }




#block-views-recent-popular-block-1 .field-name-field-frontblurb {
  font-size: 15px;
  font-weight: 400;
  font-family: $sanseriffont;
  padding-left: 0;
 }

#block-views-recent-popular-block-1 .field-name-field-frontblurb p {
  font-size: 15px;
  font-weight: 400;
  font-family: $sanseriffont;
  padding-left: 0;
 }

#block-views-recent-popular-block-1 .field-name-body p {
  font-size: 15px;
  font-weight: 400;
  font-family: $sanseriffont;
  padding-left: 0;
 }



#block-views-recent-popular-block-1 .field-name-field-fronttocclip .field-items .field-item {
  position: relative;
  z-index: 25;
}



#block-views-recent-popular-block-1 .group-left blockquote.image-field-caption {
  position: absolute;
  z-index: 75;
  bottom: 16px;
  left: 8px;
  width: 152px;
  padding: 0;
  }





#block-views-recent-popular-block-1 blockquote.image-field-caption p {
  font-size: .7em;
  line-height: 1.2;
  font-family: $sanseriffont;
  color: white;
  text-shadow: -1px 1px 1px #000;
  padding: 0;
}























/*
Newsletter signups
*/

.block-newsletter-signups {
  font-size: 14px;
  display: block;
  font-family: $sanseriffont;
  line-height: 1.4;
}

.block-newsletter-signups li {
  font-size: 14px;
  margin-bottom: .25em;
}


.block-newsletter-signups a {
  text-decoration: none;
}





/*
logo
*/

.block-logo-block {
  display: none;
  @include breakpoint($smalltab) {
  @include grid-span (3, 1, 12);
  display: block;
  width: 210px;
  }
}



#block-search-form {
  display: none;
  @include breakpoint($smalltab) {
  @include grid-span (3, 10, 12);
  display: block;
  padding: 8px 8px 0 0;
  text-align: right;
  }
  }



#block-search-form input[type="text"] {
   width: 200px;
}




/*
data box
*/



.databox {
  margin-right: 16px;
  width:180px;
  background-color:#fff2ca;
  padding:16px;
  float:left;
  clear:both;
  margin-top: 32px;
  @include breakpoint($desk) {
  }
}



.databox__head {
  text-align:center;
  font-family:$sanseriffont;
  color:#333333;
  border-bottom: solid 1px #333333;
  padding-bottom:3px;
  text-transform:uppercase;
}

.databox__topic {
  text-align:center;
  font-family:$sanseriffont;
  font-weight:700;
  font-size:15px;
  padding-bottom: 16px;
  }



.databox__label {
  font-size:15px;
  font-family:$sanseriffont;
  color:#333333;
  text-align:center;
}


.databox__data {
  font-size:28px;
  font-family:$sanseriffont;
  color:$managedcarered;
  text-align:center;
  line-height: 30px;
  padding-bottom: 14px;
}


.databox__source {
  font-size:12px;
  line-height: 16px;
  font-family:$sanseriffont;
  color:#333333;
  text-align:left;
}



/*
related content
*/


/*
.block-inject-1 {
  @include breakpoint($desk) {
  width:180px;
  float: left;
  }
}
*/




.view-similarterms {
  clear:both;
  margin-bottom: 32px;
  padding: 0 0 8px 0;
//  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
}


#block-views-similarterms-block h2 {
  margin-top: 32px;
  text-align:left;
  font-family:$sanseriffont;
  font-weight: 700;
  color: $warmgray;
  padding-bottom:3px;
  border-bottom: solid 1px #333333;
  margin-bottom:8px;
  text-transform:uppercase;
  letter-spacing: .06rem;
}



.view-similarterms .views-field-title,
#block-views-similarterms-block .views-field-title {
  text-align:left;
  font-family:$sanseriffont;
  font-size: 14px;
  color:#333333;
  margin-bottom:8px;
  line-height: 140%;
}




/*
major source photo with display quote on right side
*/



.field-name-field-major-source {
  background-color:#fcf0d3;
  clear:both;
  margin: 1em 0;
  @include clearfix;
  @include breakpoint($smalltab) {
  max-width:512px;
}
  @include breakpoint($desk) {
  margin-left: $leftrailmargin;
  }
}


.field-name-field-major-source img {
  background-color:#fcf0d3;
  padding:0;
  width: 100%;
  @include breakpoint($smalltab) {
    max-width:256px;
    width: 50%;
    float:left;
}
  @include breakpoint($desk) {
  }
}


.l-contentbody .field-name-field-major-source blockquote {
  background-color:#fcf0d3;
  padding:16px;
  margin: 0;
  width: 100%;
  @include breakpoint($smalltab) {
    max-width:256px;
    width: 50%;
    float:right;
}
  @include breakpoint($desk) {
  }
}



.l-contentbody .field-name-field-major-source blockquote p {
  padding: 0;
  font-family: $sanseriffont;
  font-size: 1em;
  line-height: 24px;
  margin-bottom: 0;
}





