.block-social-media-links {

}



.block-staff-contacts {
  margin-bottom: 2em;
}




.block-latest-issue {
  margin-top: 2em;
}


.block-pain-report-download {
  margin-top: 2em;
}


.block-menu {
  margin-top: 2em;
}


/*
.field-name-field-full-width-hero-image {

  @include breakpoint($tab) {
    margin-left: 0;
  }
  @include breakpoint($desk) {
    margin-left: $leftrailmargin;
  }
}
*/
