/* newsletter */







 .node-type-newsletter  .l-page {
  background-color: #f5f5f5;
  @include add-gutter(1/4);
  @include add-grid(12);
  }


 .node-type-newsletter  .l-contentbody {
  @include add-gutter(1/4);
  @include add-grid(12);
  }


 .node-type-newsletter  main {
  @include grid-span (10, 2);
  padding-right: 0;
  margin-top: 72px;
  }


 .node-type-newsletter  #block-dfp-mc-banner-728x90-logo-side {
  display: none;
}


 .node-type-newsletter  .l-ad_strip {
/*  display: none;  */
  }


 .node-type-newsletter  header {
/*  display: none;  */
  }






.node-type-newsletter  .node-newsletter {
  background-color: #f5f5f5;
}








.node-type-newsletter  h1 {
  padding: 20px 3.5% 10px 3.5%;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
  letter-spacing: -0.1px;
  line-height: 1.5;
  font-weight: normal;
  margin: 0 auto;
  width: 600px;
  background-color: #ffffff;
}


.node-type-newsletter .field-name-field-lead-story {
  font-family: Georgia, serif;
  margin: 0 auto 0 auto;
  padding: 20px 3.5%;
}



.node-type-newsletter .field-name-field-lead-story p {
  width: 600px;
  font-family: Georgia, serif;
  line-height: 1.5;
  padding: 20px 3.5% 0 3.5%;
  font-weight: normal;
  margin: 0 auto;
  background-color: #ffffff;
}






.node-type-newsletter .field-name-body {
  font-family: Georgia, serif;
  margin: 0 auto 0 auto;
  padding: 20px 3.5%;
}

.node-type-newsletter .field-name-body p {
  width: 600px;
  font-family: Georgia, serif;
  line-height: 1.5;
  padding: 20px 3.5% 0 3.5%;
  font-weight: normal;
  margin: 0 auto;
  background-color: #ffffff;
}


.node-type-newsletter .field-name-body blockquote {
  width: 600px;
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 40px 3.5% 0 3.5%;
  font-weight: normal;
  margin: 0 auto;
  background-color: #ffffff;
}

.node-type-newsletter .field-name-body ul {
  width: 600px;
  font-family: Georgia, serif;
  line-height: 1.5;
  padding: 40px 3.5% 0 3.5%;
  font-weight: normal;
  margin: 0 auto;
  background-color: #ffffff;
}




.node-type-newsletter .field-name-body a {
  font-weight: normal;
  color: #027ac6;
  border-bottom: 1px solid #027ac6;
  text-decoration: none;
}




.node-type-newsletter .field-name-field-newsletter-mid-banner {
  text-align: center;
  padding: 2em 0;
  }


.node-type-newsletter .field-name-event-block {
  margin: 0 auto 0 auto;
  font-family: Arial, san-serif;
  font-size: 14px;
  background-color: #ffffff;
  padding: 20px 3.5% 20px 3.5%;
  }


.node-type-newsletter .field-name-event-block h2.block-title {
  margin: 0 auto 0 auto;
  font-family: Arial, san-serif;
  font-size: 17px;
  text-transform: uppercase;
  }



.node-type-newsletter footer {
/*  display: none;  */
}


 .node-type-newsletter table {
   border-collapse: collapse;
   border: none;
  }




 .node-type-newsletter table td {
   border: none;
  }

 .node-type-newsletter .field-name-field-newsletter-top-banner table {
   margin: 0;
  }


