/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.nice-menu li {
  border-top: 0;
  float: left; /* LTR */
  margin: 0;
  padding-left: 0; /* LTR */
  background-image: none;
}


ul.nice-menu ul {
  top: 40px;
  left: -1px; /* LTR */
  border: 0;
  margin-right: 0; /* LTR */
}

ul.nice-menu ul li {
  width: 12.5em;
}








/******************************
 Top sticky menu
******************************/

.l-navband ul.nice-menu a {
  color: white;
  font-size: 14px;
  padding: 9px 12px 9px 12px;
  font-family: $sanseriffont;
  text-transform: uppercase;
}








/******************************
 Secondary nav menu
******************************/


.l-main_menu ul.nice-menu a {
  color: #333333;
  font-size: 14px;
}

.l-main_menu ul.nice-menu a {
  padding: 6px 12px 6px 12px;
  font-family: $sanseriffont;
}



/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
}

ul.nice-menu-down li {
//  border-top: 1px solid #ccc;
}







ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

ul.nice-menu-down .menuparent a {
  padding-right: 15px; /* LTR */
}

ul.nice-menu-down li.menuparent {
  background:  url("../images/arrow-down.png") right center no-repeat; /* LTR */
}

ul.nice-menu-down li.menuparent li a {
  color: #333333;
}










/**
 * HORIZONTAL (down) menus
 */

.l-navband ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

.l-navband ul.nice-menu-down li.menuparent {
  background-color: $managedcarered;
  background-image: url("../images/downtriangle.svg");
  background-size: 10px 10px;
  background-position: right;
}

.l-navband ul.nice-menu-down li.menuparent ul li {
  background-color: #f7b345; /* LTR */
}


.l-navband ul.nice-menu-down li.menuparent:hover {
  background-color: $managedcarered;
  background-image: url("../images/downtriangle.svg");
  background-size: 10px 10px;
  background-position: right;
}

.l-navband ul.nice-menu-down li li.menuparent {
  background: #eee url("../images/arrow-right.png") right center no-repeat; /* LTR */
}

.l-navband ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url("../images/arrow-right.png") right center no-repeat; /* LTR */
}








/******************************
 AMGEN biosimilars menu tab
******************************/

 ul.nice-menu-down li.menu-path-nexusmanagedcaremagcom- {
   background-color: #f3d619;
 }

 ul.nice-menu-down li.menu-path-nexusmanagedcaremagcom- a {
   height: 40px;
   color: black;
 }

/*


 ul.nice-menu-down li.menu-19166 {
   background-color: #f3d619;
 }



 ul.nice-menu-down li.menu-19166 a {
   color: black;
 }

*/


/******************************
 AMGEN biosimilars menu tab end
******************************/
