////////////////////////
// Base Import
////////////////////////


.view-Supplements .ds-2col-stacked > .group-left {
  float: left; /* LTR */
  width: 35%;
}

.view-Supplements .ds-2col-stacked > .group-right {
  float: right; /* LTR */
  width: 65%;
}


.view-Supplements-by-year .ds-2col-stacked > .group-left {
  float: left; /* LTR */
  width: 35%;
}

.view-Supplements-by-year .ds-2col-stacked > .group-right {
  float: right; /* LTR */
  width: 65%;
}


